@import "../../../theme";

.terminal-sidebar {
	//position: fixed;
	//	//top: 0;
	//	//left: 0;
	//    //z-index: 4;
    width: 70px;
	height: 100vh;
	background: #fff;
	z-index: 4;
	margin-right: 10px;

	&.expanded {
		.title {
			display: block;
		}
		width: 80px;
		a, button, li {
			width: 70px;
			height: 60px;
			min-width: 70px;
			min-height: 60px;
			margin-bottom: 4px;
			&.change-active {
				width: 70px;
				height: 60px;
	    		padding: 0;
	    		margin-bottom: 20px;
	    	}
		}
	}

	.title {
		display: none;
	}

    .logo {
    	width: 48px;
    	height: 48px;
    	margin: 10px 20px 30px 20px;
    }

    .react-tabs {
    	width: 100%;
	    ul {
	    	height: 100vh;
	    	display: flex;
			align-items: center;
			flex-direction: column;
	    	margin: 0;
	    	padding: 0;
	    }
	}

	a, button, li {
		position: relative;
		cursor: pointer;
		color: $terminal-color-text;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		//padding: 10px 5px 15px;
		transition: background-color .2s,color .2s;
		//width: 30px;
		//height: 30px;
		margin-bottom: 13px;
    	border-radius: 4px;
    	width: 45px;
    	height: 40px;
    	transition: background-color .2s linear,width .2s linear,height .2s linear;

    	&.change-active {
    		margin-bottom: 60px;
    		color: $terminal-color-text;
	    	background: none;
	    	width: 70px;
			height: 60px;
	    	&:hover {
	    		color: $terminal-color-text;
	    		background: none;
	    	}
    	}

		.fa {
			font-size: 20px;
			//margin-bottom: 3px;
		}
		.title {
			font-size: 11px;
			text-align: center;
			margin-top: 7px;
			transition: background-color .2s linear,width .2s linear,height .2s linear;
		}
		&:hover {
			color: #fff;
			background: #4a8effab;
			.title {
				position: absolute;
				top: -3px;
				left: 110%;
				background: $color-dark;
    			display: block;
    			padding: 10px;
    			border-radius: 4px;
    		}
		}
		&.active {
			color: #fff;
			background: $color-blue;
		}
		&.expand {
			margin-top: auto;
		}
	}

	.react-tabs__tab-panel {
	    	text-align: left;
	    	.tab-panel-title {
	    		.title {
	    			display: block;
					font-size: 20px;
					line-height: 24px;
					font-weight: 700;
					//letter-spacing: 2px;
	    		}
	    		.line {
					margin: 12px 0 0;
					border-radius: 50px;
					width: 35px;
					height: 3px;
					background: $color-blue;
	    		}
	    		.dots-bg {
					width: 110px;
					position: absolute;
					top: 24px;
					left: 16px;
					opacity: .7;
					img {
						max-width: 100%;
					}
	    		}
	    	}
	    	.tab-panel-content {
	    		display: initial;
	    		position: relative;
	    		height: 100%;

	    		& > div {
	    			margin-top: 20px;
	    			overflow-y: scroll;
	    			overflow-x: hidden;
    				height: calc(100% - 70px);
	    		}
	    		.empty-slide {
					/*position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);*/
					text-align: center;
					min-width: 250px;
					.icon {
						font-size: 72px;
						margin-bottom: 15px;
						color: #6a6c88;
					}
	    		}

	    		.slide-help {
	    			a, button, li {
	    				margin: 20px auto 20px auto;
    					border-radius: 4px;
    					width: unset;
    					height: unset;
    					padding: 20px 0;
    					.fa {
    						font-size: 38px;
    					}
    					.title {
    						display: block;
    						position: unset;
    						padding: 0;
    						background: unset;
    						font-size: 14px;
    						font-weight: 700;
    					}
    					.desc {
    						margin-top: 3px;
    						font-size: 12px;
    					}
    				}
	    			.desc {
	    				text-align: center;
	    				display: flex;
	    				flex-direction: column;
	    				.text {
	    					color: #6a6c88;
	    					margin-bottom: 5px;
	    				}
	    			}
	    			.btn {
						margin-top: 35px;
					}
	    		}
	    	}
	    }

	    .react-tabs__tab-panel--selected {
	    	background: #fff;
			position: absolute;
			left: 70px;
			top: 0;
			width: 170px;
			height: 100vh;
			padding: 13px 7px 13px 13px;
		}

		.tab-panel-close {
			position: absolute;
		    cursor: pointer;
		    top: 10px;
		    right: 25px;
		    z-index: 4;
		    padding: 5px;
		    font-size: 20px;
		    color: $color-text;
		}
}