@import "../../../theme";

.main {
	.investments {
		.swiper-container {
			width: 100% !important;
			.swiper-button-next.swiper-button-next {
				right: 0px;
			}
			.swiper-wrapper {
				.swiper-slide {
					min-width: 280px;
					& > div .income {
						margin-left: -14px;
					}
				}
			}
		}
	}
}