@import "../../../theme";

/*
.header {
	.logo {
		margin: 30px auto 30px 20px !important;
	}
	.mobile-menu-button {
		display: block;
		position: absolute;
		top: 27px;
		right: 50px;
		.fa {
			font-size: 24px;
		}
	}

	a {
		display: none;
		&.logo {
			display: block;
		}
	}

	&.expanded {
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: start;
		.logo {
			margin: 20px auto 30px 20px !important;
		}
		a {
			display: block;
			margin: 25px 0;
		}
	}
}*/

