@import "../../theme";

.terminal {
	display: flex;
	flex-direction: column;
	height: 100vh;

	.terminal-trade {
		display: flex;
		flex-direction: column;
		//margin: 70px 0px 0px 0;
		width: 100%;
		height: 100%;
	}
}

.popup-overlay .terminal-select-wallet {
	overflow: scroll;
	justify-content: start !important;
	height: 100vh !important;
	width: calc(100% - 20px) !important;
	padding: 20px 10px 5px 10px !important;
	border-radius: 0px !important;
	border-color: #ffffffdb !important;
	.column {
		&:last-child {
			display: none;
		}
		button {
			padding: 10px 20px !important;
			width: calc(100% - 10px) !important;
			.btn {
				display: none !important;
			}
		}
	}
}