@import url('desktop.scss') (min-width: 768px);
@import url('mobile.scss') (max-width: 768px);
@import "../../../../theme";

.affiliate__header {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 112px;
	background-color: $white;
	margin-bottom: 50px;

	.container {
		.affiliate__header-wrapper {
			display: flex;
			align-items: center;
			.header__logo {
				margin-right: 20px;
			}

			.header__link {
				padding-top: 3px;
				a {
					font-size: 14px;
					color: #797777;

					&:hover {
						color: $blueFF;
					}
				}
			}
		}
	}
}

/*
.header-affiliate {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 100%;
	z-index: 3;
	&.background {
		background: $app-background;
	}
	nav {
		a {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			.title-platform {
				margin-left: 15px;
				font-size: 18px;
			}
			img {
				max-width: 60px;
			}
		}
		!*a {
			position: relative;
			color: #fff;
			margin-left: 40px;
			//font-weight: 600;
			&.active, &:hover {
				&:before {
					content: "";
					position: absolute;
					top: 120%;
					left: 0;
					right: 0;
					height: 3px;
					background-color: $color-yellow;
				}
			}
		}*!
	}
	.launch {
		button {
			position: relative;
			height: 50px;
			//font-weight: 600;
			border-radius: 6px;
			letter-spacing: 0.7px;
			.fa {
				color: $color-text;
				margin-right: 7px;
			}
			&:hover {
				.fa {
					
				}
				opacity: 0.9;
				&:before {
					color: $color-gray;
				}
			}
		}
	}
	.auth {
		position: fixed;
		left: 0;
		top: 0;
		height: 100vh;
		z-index: 99999;
	}
}*/


